## FIT5120 

### Predictive model for risk level assessment of addiction

In [1]:
import os
import pandas as pd

path_data = os.getcwd() + "/NSDUH_2015-2019.csv"

df_data = pd.read_csv(path_data)
df_data.info

/var/folders/9w/vcwzymx13j56r36tx7tdbtv00000gn/T/ipykernel_54186/2865904209.py:6: DtypeWarning: Columns (2512) have mixed types. Specify dtype option on import or set low_memory=False.
  df_data = pd.read_csv(path_data)

<bound method DataFrame.info of         cigever  cigofrsm  cigwilyr  cigtry  cigyfu  cigmfu  cigrec  cig30use  \
0             1        99        99      16    2014       1       2        93
1             1        99        99      15    9999      99       3        93
2             2        99        99     991    9991      91      91        91
3             2         3         4     991    9991      91      91        91
4             1        99        99      17    9999      99       1        22
...         ...       ...       ...     ...     ...     ...     ...       ...
282763        1        99        99      17    9999      99       4        93
282764        2        99        99     991    9991      91      91        91
282765        2         4         4     991    9991      91      91        91
282766        2         3         4     991    9991      91      91        91
282767        2         4         4     991    9991      91      91        91

        cg30est  cig30av  ...  casuprob2  rcvysubprb  camhprob2  rcvymhprb  \
0            93       93  ...        NaN         NaN        NaN        NaN
1            93       93  ...        NaN         NaN        NaN        NaN
2            91       91  ...        NaN         NaN        NaN        NaN
3            91       91  ...        NaN         NaN        NaN        NaN
4            99        3  ...        NaN         NaN        NaN        NaN
...         ...      ...  ...        ...         ...        ...        ...
282763       93       93  ...        0.0         0.0        0.0        0.0
282764       91       91  ...        0.0         0.0        0.0        0.0
282765       91       91  ...        NaN         NaN        NaN        NaN
282766       91       91  ...        NaN         NaN        NaN        NaN
282767       91       91  ...        NaN         NaN        NaN        NaN

        almedyr2  opmedyr2  alopmedyr  kratflg  kratyr  kratmon
0            NaN       NaN        NaN      NaN     NaN      NaN
1            NaN       NaN        NaN      NaN     NaN      NaN
2            NaN       NaN        NaN      NaN     NaN      NaN
3            NaN       NaN        NaN      NaN     NaN      NaN
4            NaN       NaN        NaN      NaN     NaN      NaN
...          ...       ...        ...      ...     ...      ...
282763       0.0       0.0        0.0      0.0     0.0      0.0
282764       0.0       0.0        0.0      0.0     0.0      0.0
282765       0.0       0.0        0.0      0.0     0.0      0.0
282766       0.0       0.0        0.0      0.0     0.0      0.0
282767       0.0       0.0        0.0      0.0     0.0      0.0

[282768 rows x 2812 columns]>

In [2]:
df_data.describe()

,cigever,cigofrsm,cigwilyr,cigtry,cigyfu,cigmfu,cigrec,cig30use,cg30est,cig30av,...,casuprob2,rcvysubprb,camhprob2,rcvymhprb,almedyr2,opmedyr2,alopmedyr,kratflg,kratyr,kratmon
count,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,...,42383.000000,42361.000000,42394.000000,42316.000000,56136.000000,56136.000000,56136.000000,56136.000000,56136.000000,56136.000000
mean,1.518206,78.760769,78.772658,527.115519,9825.702113,92.954227,48.475361,79.002557,92.927230,75.797092,...,0.111153,0.081278,0.243832,0.164760,0.000980,0.002619,0.003474,0.016888,0.008604,0.003474
std,0.499669,38.939667,38.920773,486.975797,1148.802267,12.877991,44.129283,27.699494,4.341968,33.976738,...,0.314325,0.273264,0.429397,0.370969,0.031286,0.051106,0.058836,0.128851,0.092359,0.058836
min,1.000000,1.000000,1.000000,1.000000,2013.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,99.000000,99.000000,16.000000,9991.000000,91.000000,3.000000,91.000000,91.000000,91.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,99.000000,99.000000,991.000000,9991.000000,91.000000,91.000000,91.000000,91.000000,91.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,99.000000,99.000000,991.000000,9999.000000,99.000000,91.000000,93.000000,93.000000,93.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.000000,99.000000,99.000000,997.000000,9999.000000,99.000000,91.000000,98.000000,99.000000,98.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Subset selection as per Questionnaire

In [ ]:
df_subset = df_data[["panatak", "phbsocl", "phbcrwds", "phbpubpl", "phbtravl", "phbawyhm",
                    "gadnrvos", "gadwks2", "dstnrvos", "ciginctl", "halcutdn", "rskdifmj",
                    "rskdiflsd", "rskdifcoc", "rskdifcrk", "rskdifher", "snpcknit", "snpnalng",
                    "pnrrsotrs2", "admdea4", "yomdea4", "yowrslep", "adwrdiet", "pnrlwd3sx",
                    "yetlknon", "talkprob", "auoptyr", "aualtyr"]]

In [5]:
df_data.columns

Index(['cigever', 'cigofrsm', 'cigwilyr', 'cigtry', 'cigyfu', 'cigmfu',
       'cigrec', 'cig30use', 'cg30est', 'cig30av',
       ...
       'casuprob2', 'rcvysubprb', 'camhprob2', 'rcvymhprb', 'almedyr2',
       'opmedyr2', 'alopmedyr', 'kratflg', 'kratyr', 'kratmon'],
      dtype='object', length=2812)

In [9]:
with open("nsduh_columns.txt", 'w') as f:
    f.write(",".join(list(df_data.columns)))

In [15]:
list_attr_not_present=['panatak', 'phbsocl', 'phbcrwds', 'phbpubpl', 
                       'phbtravl', 'phbawyhm', 'gadnrvos', 'gadwks2', 
                       'dstnrvos', 'halcutdn', 'rskdifmj', 'rskdiflsd', 
                       'rskdifcoc', 'rskdifcrk', 'rskdifher', 'snpcknit',
                       'snpnalng', 'admdea4', 'yomdea4']

In [20]:
set_attr_present = {"panatak", "phbsocl", "phbcrwds", "phbpubpl", "phbtravl", "phbawyhm",\
                    "gadnrvos", "gadwks2", "dstnrvos", "ciginctl", "halcutdn", "rskdifmj",\
                    "rskdiflsd", "rskdifcoc", "rskdifcrk", "rskdifher", "snpcknit", "snpnalng",\
                    "pnrrsotrs2", "admdea4", "yomdea4", "yowrslep", "adwrdiet", "pnrlwd3sx",\
                    "yetlknon", "talkprob", "auoptyr", "aualtyr"} - set(list_attr_not_present)

In [21]:
df_subset = df_data[list(set_attr_present)]

In [23]:
df_subset.to_csv('subset_data.csv')
df_subset.describe()

,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl
count,282768.000000,66282.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000
mean,92.656400,1.949126,25.731151,76.809950,94.080211,89.235097,989.869250,25.736713,75.698548
std,23.993239,0.219741,41.757949,39.679135,21.358543,13.452907,40.127872,41.775633,34.234913
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,99.000000,2.000000,2.000000,99.000000,99.000000,91.000000,991.000000,2.000000,91.000000
50%,99.000000,2.000000,2.000000,99.000000,99.000000,91.000000,991.000000,2.000000,91.000000
75%,99.000000,2.000000,2.000000,99.000000,99.000000,91.000000,991.000000,2.000000,93.000000
max,99.000000,2.000000,99.000000,99.000000,99.000000,99.000000,999.000000,99.000000,98.000000

In [26]:
df_subset.value_counts()

adwrdiet  talkprob  auoptyr  yetlknon  yowrslep  pnrlwd3sx  pnrrsotrs2  aualtyr  ciginctl
99        2.0       99       6         99        91         991         99       91          42628
                                       1         91         991         99       91           6883
                                       99        91         991         99       93           2782
                                       2         91         991         99       91           2130
          1.0       99       1         99        91         991         99       91           1381
                                                                                             ...
          2.0       99       6         98        2          999         99       93              1
          1.0       99       1         99        99         998         99       93              1
                                                                                 91              1
                                                            985         99       91              1
                                       1         1          1           99       91              1
Name: count, Length: 461, dtype: int64

In [29]:
df_subset.dropna(how='all', inplace=True)

/var/folders/9w/vcwzymx13j56r36tx7tdbtv00000gn/T/ipykernel_54186/1963738669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset.dropna(how='all', inplace=True)

In [30]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282768 entries, 0 to 282767
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   adwrdiet    282768 non-null  int64
 1   talkprob    66282 non-null   float64
 2   auoptyr     282768 non-null  int64
 3   yetlknon    282768 non-null  int64
 4   yowrslep    282768 non-null  int64
 5   pnrlwd3sx   282768 non-null  int64
 6   pnrrsotrs2  282768 non-null  int64
 7   aualtyr     282768 non-null  int64
 8   ciginctl    282768 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 19.4 MB

In [31]:
df_subset.describe()

,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl
count,282768.000000,66282.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000
mean,92.656400,1.949126,25.731151,76.809950,94.080211,89.235097,989.869250,25.736713,75.698548
std,23.993239,0.219741,41.757949,39.679135,21.358543,13.452907,40.127872,41.775633,34.234913
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,99.000000,2.000000,2.000000,99.000000,99.000000,91.000000,991.000000,2.000000,91.000000
50%,99.000000,2.000000,2.000000,99.000000,99.000000,91.000000,991.000000,2.000000,91.000000
75%,99.000000,2.000000,2.000000,99.000000,99.000000,91.000000,991.000000,2.000000,93.000000
max,99.000000,2.000000,99.000000,99.000000,99.000000,99.000000,999.000000,99.000000,98.000000

In [32]:
df_subset.head(10)

,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl
0,99,2.0,99,6,1,91,991,99,93
1,99,NaN,2,99,99,91,991,2,93
2,99,NaN,1,99,99,91,991,2,91
3,99,NaN,99,11,99,91,991,99,91
4,99,NaN,1,99,99,91,991,1,2
5,99,NaN,2,99,99,91,991,2,93
6,99,NaN,2,99,99,91,991,2,93
7,99,2.0,99,6,99,91,991,99,91
8,99,2.0,99,6,99,91,991,99,91
9,99,2.0,99,6,98,83,993,99,91

In [40]:
df_data[["cigcrave"]]

        cigcrave
0             93
1             93
2             91
3             91
4              2
...          ...
282763        93
282764        91
282765        91
282766        91
282767        91

[282768 rows x 1 columns]

In [41]:
df_subset = pd.concat((df_subset, df_data[["cigcrave"]]))

In [42]:
df_subset.columns

Index(['adwrdiet', 'talkprob', 'auoptyr', 'yetlknon', 'yowrslep', 'pnrlwd3sx',
       'pnrrsotrs2', 'aualtyr', 'ciginctl', 'cigcrave'],
      dtype='object')

In [60]:
# continuous var
set(df_data.columns) & {"iralcfy", "irmjfy", "cig30av"}

{'cig30av', 'iralcfy', 'irmjfy'}

In [62]:
"dstnrvos" in df_data.columns

False

In [63]:
df_subset = pd.concat((df_subset, df_data[["iralcfy", "irmjfy", "cig30av"]]))

In [73]:
df_subset.drop(columns="cig30av")

,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl,cigcrave,iralcfy,irmjfy
0,99.0,2.0,99.0,6.0,1.0,91.0,991.0,99.0,93.0,NaN,NaN,NaN
1,99.0,NaN,2.0,99.0,99.0,91.0,991.0,2.0,93.0,NaN,NaN,NaN
2,99.0,NaN,1.0,99.0,99.0,91.0,991.0,2.0,91.0,NaN,NaN,NaN
3,99.0,NaN,99.0,11.0,99.0,91.0,991.0,99.0,91.0,NaN,NaN,NaN
4,99.0,NaN,1.0,99.0,99.0,91.0,991.0,1.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
282763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.0,2.0
282764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,993.0
282765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,991.0,991.0
282766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,993.0
282767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,991.0,991.0

In [85]:
df_subset.drop(columns=["cig30av", 0], inplace=True)

In [86]:
df_subset.columns

Index(['adwrdiet', 'talkprob', 'auoptyr', 'yetlknon', 'yowrslep', 'pnrlwd3sx',
       'pnrrsotrs2', 'aualtyr', 'ciginctl', 'cigcrave', 'iralcfy', 'irmjfy'],
      dtype='object')

In [87]:
df_subset = pd.concat((df_subset, df_data[["cig30use"]]))

In [88]:
df_subset.head()

,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl,cigcrave,iralcfy,irmjfy,cig30use
0,99.0,2.0,99.0,6.0,1.0,91.0,991.0,99.0,93.0,NaN,NaN,NaN,NaN
1,99.0,NaN,2.0,99.0,99.0,91.0,991.0,2.0,93.0,NaN,NaN,NaN,NaN
2,99.0,NaN,1.0,99.0,99.0,91.0,991.0,2.0,91.0,NaN,NaN,NaN,NaN
3,99.0,NaN,99.0,11.0,99.0,91.0,991.0,99.0,91.0,NaN,NaN,NaN,NaN
4,99.0,NaN,1.0,99.0,99.0,91.0,991.0,1.0,2.0,NaN,NaN,NaN,NaN

In [89]:
df_subset.to_csv('subset_data.csv')

### Dependent variables
For the determination of the risk related to following ending with:
- "emctd": Did you continue to use $substance$ even though you thought this was causing you to have problems with your emotions, nerves, or mental health? 
- "phlpb": During the past 12 months, did you have any physical health problems that were probably caused or made worse by your use of $substance$?
- "phctd" Did you continue to use $substance$ even though you thought this was causing you to have physical problems?, 
- "lsact": During the past 12 months, did using $substance$ cause you to give up or spend less time doing these types of important activities such as working, going to school, taking care of children, doing fun things such as hobbies and sports,
and spending time with friends and family?, 
- "serpb": During the past 12 months, did using $substance$ cause you to have serious problems like this either at home, work, or school?, 
- "pdang": During the past 12 months, did you regularly use $substance$ and then do something where using $substance$ might have
put you in physical danger?,                
- "lawtr": During the past 12 months, did using $substance$ cause you to do things that repeatedly got you in trouble with the law?, 
- "frfpb": During the past 12 months, did you have any problems with family or friends that were probably caused by your use of $substance$?, 
- "fmctd": Did you continue to use $substance$ even though you thought this caused problems with family or friends?

In [53]:
# df_data[["anlemctd", "anlphlpb", "anlphctd", "anllsact"]]
set_nsduh_attr = {x.lower() for x in df_data.columns}
effect_var = []
for x in set_nsduh_attr:
    if x[-5:] in {"emctd", "phlpb", "phctd", "lsact", "serpb", "pdang",
                 "lawtr", "frfpb", "fmctd"}:
        effect_var.append(x)

effect_var

['alcserpb',
 'mrjlawtr',
 'halulawtr',
 'herserpb',
 'alclawtr',
 'pnrlphctd',
 'trqlserpb',
 'alcemctd',
 'methphctd',
 'coclawtr',
 'haluemctd',
 'stimemctd',
 'pnrlpdang',
 'mrjfmctd',
 'heremctd',
 'methemctd',
 'inhllsact',
 'sedvserpb',
 'trqlphlpb',
 'stimlawtr',
 'inhlpdang',
 'sedvemctd',
 'alcphctd',
 'alclsact',
 'halulsact',
 'inhlemctd',
 'herphlpb',
 'cocserpb',
 'inhllawtr',
 'sedvpdang',
 'cocfmctd',
 'mrjphlpb',
 'trqllawtr',
 'halupdang',
 'mrjpdang',
 'trqlemctd',
 'stimpdang',
 'haluphctd',
 'cocemctd',
 'stimlsact',
 'sedvlsact',
 'methfmctd',
 'trqllsact',
 'trqlpdang',
 'herpdang',
 'herfmctd',
 'stimphctd',
 'pnrlphlpb',
 'mrjemctd',
 'inhlserpb',
 'sedvphlpb',
 'cocpdang',
 'haluserpb',
 'mrjlsact',
 'trqlphctd',
 'sedvfmctd',
 'sedvphctd',
 'methserpb',
 'pnrllsact',
 'alcpdang',
 'stimfmctd',
 'haluphlpb',
 'methpdang',
 'sedvlawtr',
 'alcfmctd',
 'inhlphctd',
 'herphctd',
 'mrjserpb',
 'coclsact',
 'methphlpb',
 'mrjphctd',
 'inhlphlpb',
 'pnrlserpb',
 'herlsact',
 'trqlfmctd',
 'pnrlfmctd',
 'inhlfmctd',
 'cocphlpb',
 'herlawtr',
 'methlsact',
 'cocphctd',
 'stimphlpb',
 'alcphlpb',
 'pnrlemctd',
 'methlawtr',
 'halufmctd',
 'stimserpb',
 'pnrllawtr']

In [56]:
# 1=yes, 2=no, 91=never used, 93=didn't use in 12 months
df_cause_effect = df_data[effect_var + list(set_attr_present)].copy()
for i, effect_attr in enumerate()

In [57]:
df_cause_effect.to_csv('subset_cause_effect.csv')

### Remove NaN & irrelevant values

In [90]:
# combine df_subset, df_cause_effect and drop NaN, irrelevant values
df_combined = pd.concat((df_subset, df_cause_effect)) 
df_combined.columns

Index(['adwrdiet', 'talkprob', 'auoptyr', 'yetlknon', 'yowrslep', 'pnrlwd3sx',
       'pnrrsotrs2', 'aualtyr', 'ciginctl', 'cigcrave',
       ...
       'herlawtr', 'methlsact', 'cocphctd', 'stimphlpb', 'alcphlpb',
       'pnrlemctd', 'methlawtr', 'halufmctd', 'stimserpb', 'pnrllawtr'],
      dtype='object', length=101)

In [91]:
df_combined.shape

(1696608, 101)

In [92]:
"cig30use" in df_combined.columns

True

In [93]:
df_combined.dropna(how="all")

,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl,cigcrave,...,herlawtr,methlsact,cocphctd,stimphlpb,alcphlpb,pnrlemctd,methlawtr,halufmctd,stimserpb,pnrllawtr
0,99.0,2.0,99.0,6.0,1.0,91.0,991.0,99.0,93.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,99.0,NaN,2.0,99.0,99.0,91.0,991.0,2.0,93.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99.0,NaN,1.0,99.0,99.0,91.0,991.0,2.0,91.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,99.0,NaN,99.0,11.0,99.0,91.0,991.0,99.0,91.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,99.0,NaN,1.0,99.0,99.0,91.0,991.0,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282763,99.0,NaN,2.0,99.0,99.0,91.0,991.0,2.0,93.0,NaN,...,91.0,91.0,91.0,91.0,2.0,91.0,91.0,91.0,91.0,91.0
282764,1.0,NaN,2.0,99.0,99.0,91.0,991.0,2.0,91.0,NaN,...,91.0,91.0,91.0,91.0,2.0,91.0,91.0,91.0,91.0,91.0
282765,99.0,2.0,99.0,6.0,99.0,91.0,991.0,99.0,91.0,NaN,...,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0
282766,99.0,2.0,99.0,6.0,1.0,91.0,991.0,99.0,91.0,NaN,...,91.0,91.0,91.0,91.0,93.0,91.0,91.0,91.0,91.0,91.0
282767,99.0,2.0,99.0,6.0,99.0,91.0,991.0,99.0,91.0,NaN,...,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0,91.0

In [94]:
df_combined.describe()

,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl,cigcrave,...,herlawtr,methlsact,cocphctd,stimphlpb,alcphlpb,pnrlemctd,methlawtr,halufmctd,stimserpb,pnrllawtr
count,565536.000000,132564.000000,565536.000000,565536.00000,565536.000000,565536.000000,565536.000000,565536.000000,565536.000000,282768.000000,...,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000,282768.000000
mean,92.656400,1.949126,25.731151,76.80995,94.080211,89.235097,989.869250,25.736713,75.698548,75.665153,...,90.660945,90.442536,91.317483,88.666599,49.053358,90.897591,90.443399,91.420875,88.476907,86.972419
std,23.993218,0.219740,41.757912,39.67910,21.358524,13.452895,40.127837,41.775596,34.234882,34.282943,...,5.743807,7.578041,2.701828,14.415270,45.106592,7.008572,7.563776,2.967303,14.909021,18.721361
min,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,99.000000,2.000000,2.000000,99.00000,99.000000,91.000000,991.000000,2.000000,91.000000,91.000000,...,91.000000,91.000000,91.000000,91.000000,2.000000,91.000000,91.000000,91.000000,91.000000,91.000000
50%,99.000000,2.000000,2.000000,99.00000,99.000000,91.000000,991.000000,2.000000,91.000000,91.000000,...,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000
75%,99.000000,2.000000,2.000000,99.00000,99.000000,91.000000,991.000000,2.000000,93.000000,93.000000,...,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000,91.000000
max,99.000000,2.000000,99.000000,99.00000,99.000000,99.000000,999.000000,99.000000,98.000000,98.000000,...,98.000000,98.000000,99.000000,99.000000,99.000000,99.000000,98.000000,99.000000,98.000000,98.000000

### Load questionnaire_data mapped to NSDUH attributes

In [44]:
df_mapped = pd.read_excel("./questionnaire_data.xlsx")
df_mapped.describe()

       section_id  response_id
count    6.000000   122.000000
mean     3.500000     2.450820
std      1.870829     1.192972
min      1.000000     1.000000
25%      2.250000     1.000000
50%      3.500000     2.000000
75%      4.750000     3.000000
max      6.000000     6.000000

### Data Pre-processing w/ pipeline

In [99]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

# pre-processor: ColumnTransformer
# standardise numerical attributes, 1-hot encoding for categorical
pre_processor = ColumnTransformer(transformers=[
    ('num', StandardScaler(), ["cig30use", "iralcfy", "irmjfy"]),
    ('cat', OneHotEncoder(drop='first'), set(df_subset.columns) - {"cig30use", "iralcfy", "irmjfy"})
]
)

### Predictive modelling

In [100]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import svm

from sklearn.model_selection import train_test_split, GridSearchCV

In [124]:
# Parameter grid for GridSearchCV
model_grid = {
    'random_forest': {
        'model':RandomForestClassifier(random_state=15, n_jobs=3, n_estimators=500),
        'params': {
            'estimator__max_depth': [11, 12, 13, 14],
            'estimator__criterion':['gini', 'entropy']
        }
    },
    'logistic_regression': {
        'model': LogisticRegression(random_state=15, n_jobs=3),
        'params': {
            'estimator__C': [0.085, 0.09, 0.092],
            'estimator__solver':['lbfgs', 'liblinear'],
        }
    },
    'svm': {
        'model': svm.LinearSVC(random_state=15, max_iter=10000),
        'params': {
            'estimator__C':[0.52, 0.55, 0.6, 0.65]
        }
    }
}

In [117]:
df_X = df_data[df_subset.columns]
df_X.shape

(282768, 13)

In [121]:
df_X.shape, df_cause_effect.shape

((282768, 13), (282768, 97))

In [122]:
df_X.head(10)

,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl,cigcrave,iralcfy,irmjfy,cig30use
0,99,2.0,99,6,1,91,991,99,93,93,5,991,93
1,99,0.0,2,99,99,91,991,2,93,93,52,364,93
2,99,0.0,1,99,99,91,991,2,91,91,48,991,91
3,99,0.0,99,11,99,91,991,99,91,91,2,991,91
4,99,0.0,1,99,99,91,991,1,2,2,6,991,22
5,99,0.0,2,99,99,91,991,2,93,93,120,991,93
6,99,0.0,2,99,99,91,991,2,93,93,84,991,93
7,99,2.0,99,6,99,91,991,99,91,91,991,991,91
8,99,2.0,99,6,99,91,991,99,91,91,991,991,91
9,99,2.0,99,6,98,83,993,99,91,91,991,991,91

In [123]:
df_cause_effect.head(10)

,alcserpb,mrjlawtr,halulawtr,herserpb,alclawtr,pnrlphctd,trqlserpb,alcemctd,methphctd,coclawtr,...,pnrllawtr,adwrdiet,talkprob,auoptyr,yetlknon,yowrslep,pnrlwd3sx,pnrrsotrs2,aualtyr,ciginctl
0,93,91,91,91,93,91,91,93,91,91,...,91,99,2.0,99,6,1,91,991,99,93
1,2,2,97,91,2,91,91,99,91,93,...,91,99,0.0,2,99,99,91,991,2,93
2,2,91,91,91,2,91,91,99,91,91,...,91,99,0.0,1,99,99,91,991,2,91
3,93,91,91,91,93,91,91,93,91,91,...,91,99,0.0,99,11,99,91,991,99,91
4,2,91,91,91,2,91,91,99,91,91,...,91,99,0.0,1,99,99,91,991,1,2
5,98,91,91,91,98,91,91,98,91,91,...,91,99,0.0,2,99,99,91,991,2,93
6,2,91,91,91,2,91,91,99,91,91,...,91,99,0.0,2,99,99,91,991,2,93
7,91,91,91,91,91,91,91,91,91,91,...,91,99,2.0,99,6,99,91,991,99,91
8,91,91,91,91,91,91,91,91,91,91,...,91,99,2.0,99,6,99,91,991,99,91
9,91,91,98,91,91,83,83,91,98,91,...,83,99,2.0,99,6,98,83,993,99,91

In [125]:
# list of model scores
model_scores = []

for model_name, model_params in model_grid.items():
    pipe = Pipeline(steps=[
        ('preprocessor', pre_processor),
        ('estimator', model_params['model'])
    ])

    model = GridSearchCV(estimator=pipe, 
                         param_grid=model_params['params'], 
                         cv=5, return_train_score=False, refit=True)
    model.fit(df_X.fillna(0, inplace=True), df_cause_effect.fillna(0, inplace=True))
    model_scores.append({
        'model': model_name,
        'best_score:': model.best_score_,
        'best_params': model.best_params_
    })

/var/folders/9w/vcwzymx13j56r36tx7tdbtv00000gn/T/ipykernel_54186/859835508.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model.fit(df_X.fillna(0, inplace=True), df_cause_effect.fillna(0, inplace=True))

TypeError: Expected sequence or array-like, got <class 'NoneType'>

In [136]:
from sklearn.neural_network import MLPRegressor


X_train, X_test, Y_train, Y_test = train_test_split(df_X, df_cause_effect,
                                                   random_state=1)

regr = MLPRegressor(random_state=1, max_iter=500)


pipe = Pipeline(steps=[
        ('preprocessor', pre_processor)
    ])

# X_train = pipe.fit_transform(X_train)
# X_test = pipe.fit_transform(X_test)
regr.fit(X_train, Y_train)

MLPRegressor(max_iter=500, random_state=1)

In [137]:
regr.score(X_test, Y_test)

0.27901161188332224

In [138]:
import pickle

with open("mlp_regr.pkl", "wb") as file:
    pickle.dump(regr, file)

In [141]:
X_train1, X_test1, Y_train1, Y_test1 = train_test_split(df_X, 
                                            df_cause_effect[["pnrlphctd",
                                                             "stimphctd",
                                                            "cocphctd",
                                                            "methphctd",
                                                            "inhlphctd",
                                                            "herphctd", 
                                                             "stimphlpb",
                                                            "cocphlpb",
                                                            "methphlpb",
                                                            "inhlphlpb",
                                                            "herphlpb"]],
                                                   random_state=1)

regr1 = MLPRegressor(random_state=1, max_iter=500)

regr1.fit(X_train1, Y_train1)

MLPRegressor(max_iter=500, random_state=1)

In [143]:
regr1.score(X_test1, Y_test1)

0.01699377466634523

In [144]:

with open("mlp_regr1.pkl", "wb") as file:
    pickle.dump(regr1, file)

In [145]:
X_train, X_test, Y_train, Y_test = train_test_split(df_X, df_cause_effect,
                                                   random_state=1)

regr.fit(X_train, Y_train)

MLPRegressor(max_iter=500, random_state=1)

In [149]:
regr.score(X_test, Y_test)

0.27901161188332224

In [150]:
df_X.to_csv('df_X.csv')
df_cause_effect.to_csv('df_cause_effect.csv')

### Model:

In [2]:
import pandas as pd
X = pd.read_csv('df_X.csv')
Y = pd.read_csv('df_cause_effect.csv')

In [ ]:
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

# pre_process = ColumnTransformer(transformers=[
#     ('num', StandardScaler())#, ["cig30use", "iralcfy", "irmjfy"])#,
#     ('cat', OneHotEncoder(drop='first'), set(X.columns) - {"cig30use", "iralcfy", "irmjfy"})
# ]
# )

# X_transformed = pre_process.fit_transform(X.to_numpy())

X_train, X_test, Y_train, Y_test = train_test_split(X.to_numpy(), Y.to_numpy(),
                                                   random_state=1)



list_regr = []
for i in range(Y.shape[1]):
    curr_regr = make_pipeline(StandardScaler(), SVR(C=1.0, epsilon=0.2))
    curr_regr.fit(X_train, Y_train[:,i])
    print(i, curr_regr.score(X_test, Y_test[:,i]))
    list_regr.append(curr_regr)

0 0.17536663277826658
1 0.6168931713701145
2 0.6519237510567882
3 -0.0271052873260329
4 -0.006623429138634895
5 0.6170834725868184
6 0.1681416401785435
7 -0.01782177068730917
8 -0.08335087279368336
9 -0.0015240000442364732
10 -0.02302254171881235
11 -0.0005678401147435341
12 -0.0018775566522779563
13 0.6014250416991278
14 -0.058752345070439915
15 -0.006675885241195223
16 -0.005171026657615041
17 -0.010173320637621552
18 -0.00915764917570061
19 -0.02087968043241517
20 -0.02488281443655449
21 -0.010231145235388928
22 -0.004784547379447668
23 -0.006182413737300774
24 0.6166004854373671
25 -0.027106474761013022
26 -0.0006401172150751755
27 -0.006938660417724396
28 -0.023021809549517824
29 -0.010315939787922224
30 -0.00913840352471973
31 -0.003944927841502466
32 0.5647203737134401
33 -0.0178260814614164
34 -0.027114411287502582
35 0.6517951266832085
36 -0.004623961360969542
37 -0.0248988703367079
38 0.04015894548631327
39 -0.007736171006141879
40 -0.02486332583641615
41 -0.009154409060690094
42 -0.004686794860893961
43 -0.01824417723148475
44 -0.017834434666943677
45 -0.0066252582775852
46 -0.00663208013560479
47 0.002605402743392715
48 0.46592519192811754
49 -0.09423243213977162